.layout {
    display: flex;
}

.chart {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background: antiquewhite;
    justify-content: center;
    top: 0;
    width: -webkit-fill-available;
    margin: 1rem;
    /* width: 45vw; */
}

.chart > div {
    margin-top: 0;
}

.dimension {
    position: relative;
    display: flex;
    flex-direction: column;
    /* width: 28vw;
    right: 0; */
}


/* media-query for tablets */
@media screen and (max-width: 768px) {

    .layout{
        flex-direction: column;
    }

    .dimension {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}


