.item-1 {
    grid-area: header;
    background-color: #222528;
    color: #cfcfcf;
    display: flex;
    justify-content: space-between;
    height: 8vh;
    align-items: center;
    position: relative;
    padding: 1rem;
    padding-left: 10vw;
    padding-right: 10vw;
    font-size: 3vw;
    font-family: sans-serif;
    box-shadow: 0px 6px 5px #1a1a1a;
}

/* media-query for mobiles */
@media screen and (max-width: 500px) {
    .item-1{
        font-size: 5vw;
    }
}


